<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Тіркелу</title>
</head>
<body>
    <h2>Kaspi тіркелу формасы</h2>
    <form action="/register_user" method="post">
        <input name="first_name" placeholder="Аты" required><br>
        <input name="last_name" placeholder="Фамилия" required><br>
        <input name="phone" placeholder="+7 (777) 777 77 77" required><br>
        <input name="password" type="password" placeholder="Құпиясөз" required><br>
        <button type="submit">Тіркелу</button>
    </form>
</body>
</html>
